Productivity_Engine/05-my_suivi_de_candidatures/05-my_application_tracking.json
{
  "name": "05-my_application_tracking",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        48
      ],
      "id": "970a8d8d-5653-46fb-87c2-e7fca6315d64",
      "name": "Telegram Trigger",
      "webhookId": "f288b1ae-b923-4f37-a920-70aefe00ea58",
      "credentials": {
        "telegramApi": {
          "id": "nZ8jHPK6EkGcDzxM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Vous êtes un assistant de suivi de candidatures. Votre rôle est d'analyser les messages reçus concernant des candidatures et de mettre à jour une feuille Google Sheets de suivi.\n\nVotre tâche est de:\n1. Extraire les informations clés du message (entreprise, étape du processus, poste, commentaires, note, contacts)\n2. Utiliser l'outil Google Sheets pour ajouter ou mettre à jour la ligne correspondante\n3. Confirmer l'action effectuée\n\nFormat attendu des informations:\n- Entreprise: Nom de l'entreprise\n- Étape: Candidature envoyée, En cours d'analyse, Entretien prévu, Refusé, Accepté, etc.\n- Poste proposé: Intitulé du poste\n- Commentaires: Détails du message reçu\n- Note: Évaluation ou remarque personnelle\n- Contacts: Nom et coordonnées des personnes de contact"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        712,
        48
      ],
      "id": "4401e863-02d2-40a8-a0a0-4ea2c180a87f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        272
      ],
      "id": "1940d003-0918-4e32-b0a0-ee25d3e674c4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2JLj0nkqreSHO4kx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        272
      ],
      "id": "84d405e1-e850-4f0b-95b0-849f9d163620",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Bonjour, {{ $('Telegram Trigger').item.json.message.chat.first_name }}\nJ'effectué votre demandé. Votre sheet est bien à jour.\n\nVotre <a href=\"https://docs.google.com/spreadsheets/d/1TIDLSxng7CBOnUpUBtHc3FjpjViem0ZXmnYFCYZR_c8/edit?gid=0#gid=0\">sheet.</a>\n\nBonne journée à vous.\n",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        48
      ],
      "id": "39b85ca0-a517-4eef-ab51-27b09ed6e670",
      "name": "Send a text message",
      "webhookId": "4b0dab1f-833d-48c7-b07a-e23818a7f3a7",
      "credentials": {
        "telegramApi": {
          "id": "nZ8jHPK6EkGcDzxM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TIDLSxng7CBOnUpUBtHc3FjpjViem0ZXmnYFCYZR_c8",
          "mode": "list",
          "cachedResultName": "ETNA EXERCICE TEMPLATE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TIDLSxng7CBOnUpUBtHc3FjpjViem0ZXmnYFCYZR_c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TIDLSxng7CBOnUpUBtHc3FjpjViem0ZXmnYFCYZR_c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Entreprise": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Entreprise__using_to_match_', ``, 'string') }}",
            "Étape": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_tape', ``, 'string') }}",
            "Poste proposé": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Poste_propos_', ``, 'string') }}",
            "Commentaires": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commentaires', ``, 'string') }}",
            "Note": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Note', ``, 'string') }}",
            "Contacts": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contacts', ``, 'string') }}"
          },
          "matchingColumns": [
            "Entreprise"
          ],
          "schema": [
            {
              "id": "Entreprise",
              "displayName": "Entreprise",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Étape",
              "displayName": "Étape",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Poste proposé",
              "displayName": "Poste proposé",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Commentaires",
              "displayName": "Commentaires",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contacts",
              "displayName": "Contacts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        912,
        272
      ],
      "id": "5374952c-e640-4ce3-ae04-e03212b3c48c",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3nmLWAIDgLP5kf7j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "googleSheetId",
              "value": "1TIDLSxng7CBOnUpUBtHc3FjpjViem0ZXmnYFCYZR_c8",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sheetName",
              "value": "Feuille 1",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "129f8f9e-3bbf-49af-a4d4-f3449f1fe71e",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89102dd6-0f79-40f1-9500-eb4f05dc21f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e70e688a5548cb3771c1296b73d5113f27ebb9ad3766208c36af253edb207c36"
  },
  "id": "eI1GEKGhYFNElouv",
  "tags": []
}